Problem 1: Unique Words in a Sentence

In [1]:
# Taking input from user
sentence = input("Enter sentence: ")

# Splitting sentence into words
words = sentence.split()

# Converting list to set to remove duplicates
unique_words = set(words)

# Printing results
print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Enter sentence: python is easy and python is powerful
Unique words count: 5
Unique words: {'python', 'and', 'powerful', 'is', 'easy'}

Problem 2: Highest Salary from Employee Data

In [1]:
# Employee dictionary
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

# Finding employee with highest salary
highest_employee = max(employees, key=employees.get)

print("Highest Salary:", highest_employee, "-", employees[highest_employee])

Highest Salary: Ravi - 75000

Problem 3: Find Maximum and Minimum Values

In [2]:
numbers = [45, 22, 89, 10, 66]

# Initialize max and min with first element
maximum = numbers[0]
minimum = numbers[0]

# Loop through list
for num in numbers:
    if num > maximum:
        maximum = num
    if num < minimum:
        minimum = num

print("List:", numbers)
print("Max:", maximum)
print("Min:", minimum)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

Problem 4: Count Products Above Price Threshold

In [3]:
prices = [450, 1200, 899, 1500, 300]

count = 0

for price in prices:
    if price > 1000:
        count += 1

print("Products above 1000:", count)

Products above 1000: 2

Problem 5: Calculate Attendance Percentage

In [4]:
attendance = ["P", "P", "A", "P", "P"]

present_count = attendance.count("P")
total_days = len(attendance)

attendance_percentage = (present_count / total_days) * 100

print("Attendance Percentage:", attendance_percentage)

Attendance Percentage: 80.0

Problem 6: Remove Duplicate Phone Numbers

In [5]:
phone_numbers = [9876543210, 9123456789, 9876543210]

# Convert list to set
unique_numbers = set(phone_numbers)

print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

Problem 7: Count Character Frequency

In [6]:
text = "python"

frequency = {}

for char in text:
    if char in frequency:
        frequency[char] += 1
    else:
        frequency[char] = 1

print(frequency)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

Problem 8: Convert List to Tuple

In [7]:
numbers = [10, 20, 30]

# Convert list to tuple
numbers_tuple = tuple(numbers)

print("Tuple:", numbers_tuple)

Tuple: (10, 20, 30)

Problem 9: Check if Key Exists in Dictionary

In [8]:
employees = {
    "Ravi": 75000,
    "Anita": 68000
}

key_to_check = "Ravi"

if key_to_check in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

Problem 10: Calculate Average Marks

In [9]:
marks = [70, 75, 80, 65]

total_marks = sum(marks)
number_of_subjects = len(marks)

average = total_marks / number_of_subjects

print("Average Marks:", average)

Average Marks: 72.5